{namespace fi=Tx_Fileman_ViewHelpers}
<f:render partial="FormErrorsMulti" arguments="{for: 'files.file.{index}', entity: 'file'}" />
<div class="file-entry">
	<label>
		<f:translate key="tx_fileman_domain_model_file.upload_data" /> <span class="required">*</span>
		<br />
		
		<f:if condition="{file.fileUri}">
			<f:then>
				<fi:form.textfield property="file.{index}.fileUri" readonly="readonly" class="fileupload prepped" value="{file.fileUri}" title="{f:translate(key:'tx_fileman_filelist.prepped_file')}" />
				<f:form.hidden name="tmpFiles[{index}]" value="{fi:file.basename(uri:file.tmpFile)}" />
			</f:then>
			<f:else>
				<fi:form.upload property="file.{index}.uploadData" class="fileupload" /> <!-- required="required" -->
			</f:else>
		</f:if>
	</label>
	<br />
	
	<div class="file-type-info">
		<f:if condition="{settings.allowFileType}">
			<f:then>
				<f:translate key="tx_fileman_filelist.filetype_filter.allow" />: {settings.allowFileType}
			</f:then>
			<f:else>
				<f:if condition="{settings.denyFileType}">
					<f:then>
						<f:translate key="tx_fileman_filelist.filetype_filter.deny" />: {settings.denyFileType}
					</f:then>
					<f:else>
						<f:translate key="tx_fileman_filelist.filetype_filter.none" />
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</div>
	<br />
	
	<div class="optional">
		<f:render partial="File/FormFieldsMulti" arguments="{index : index, file : file}"/>
	</div>
</div>