<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<label>
	<f:translate key="property.file.alternateTitle" />
	<br />
	<f:form.textfield property="alternateTitle" class="textinput" />
</label>
<br />
<br />

<label>
	<f:translate key="property.file.description" />
	<br />
	<f:form.textarea property="description" cols="40" rows="15" />
</label>
<br />
<br />

<label>
	<f:translate key="property.file.links" />
	<br />
	<f:form.textarea property="links" cols="40" rows="15" class="small-textarea" />
</label>
<br />
<br />

</html>