<label for="alternateTitle">
	<f:translate key="tx_fileman_domain_model_file.alternate_title" />
</label><br />
<f:form.textfield id="alternateTitle" property="alternateTitle" />
<br />
<br />

<label for="description">
	<f:translate key="tx_fileman_domain_model_file.description" />
</label><br />
<f:form.textarea id="description" property="description" cols="40" rows="15" />
<br />
<br />

<label for="links">
	<f:translate key="tx_fileman_domain_model_file.links" />
</label><br />
<f:form.textarea id="links" property="links" cols="40" rows="15" />
<br />
<br />