<f:translate key="tx_fileman_domain_model_file.category" />
<br />
<input type="text" readonly="readonly" disabled="disabled" value="{category.title}" class="textinput" />
<br />
<br />

<label>
	<f:translate key="tx_fileman_domain_model_file.alternate_title" />
	<br />
	<f:form.textfield property="file.file0.alternateTitle" class="textinput" />
</label>
<br />
<br />

<label>
	<f:translate key="tx_fileman_domain_model_file.description" />
	<br />
	<f:form.textarea property="file.file0.description" cols="40" rows="15" />
</label>
<br />
<br />

<label>
	<f:translate key="tx_fileman_domain_model_file.links" />
	<br />
	<f:form.textarea property="file.file0.links" cols="40" rows="15" class="textinput" />
</label>
<br />
<br />