{namespace fi=Tx_Fileman_ViewHelpers}
<label>
	<f:translate key="tx_fileman_domain_model_file.alternate_title" />
	<br />
	<fi:form.textfield property="file.1.alternateTitle" class="textinput" />
</label>
<br />
<br />

<label>
	<f:translate key="tx_fileman_domain_model_file.description" />
	<br />
	<fi:form.textarea property="file.1.description" cols="40" rows="15" />
</label>
<br />
<br />

<label>
	<f:translate key="tx_fileman_domain_model_file.links" />
	<br />
	<fi:form.textarea property="file.1.links" cols="40" rows="15" class="textinput" />
</label>
<br />
<br />