<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="buttons">	
	<f:if condition="{category}">
		<f:then>
			<f:link.action title="{f:translate(key:'link.title.back')}" action="list" controller="File" arguments="{category: category}" class="button-back"><f:translate key="tx_fileman_filelist.go_back" /></f:link.action>
		</f:then>
		<f:else>
			<f:link.page title="{f:translate(key:'link.title.back')}" class="button-back"><f:translate key="tx_fileman_filelist.go_back" /></f:link.page>
		</f:else>
	</f:if>
</div>
	
</html>