{namespace fi=Tx_Fileman_ViewHelpers}
<f:for each="{error.errors}" key="identity" as="errorDetail">
	<f:if condition="{isStorageObject}">
		<f:then>
			<f:for each="{errorDetail}" as="realErrorDetail">
				<f:render partial="FormErrorsDetail" arguments="{entity: error.propertyName, id: identity, error: realErrorDetail}" />
			</f:for>
		</f:then>
		<f:else>
			<f:if condition="{errorDetail.code} == 1242859509">
				<f:then>
					<f:render partial="FormErrorsDetail" arguments="{entity: error.propertyName, id: id, error: errorDetail}" />
				</f:then>
				<f:else>
					<f:if condition="{errorDetail.code} == 133713371337">
						<f:then>
							<f:render partial="FormErrorsDetail" arguments="{entity: error.propertyName, isStorageObject: 1, error: errorDetail}" />
						</f:then>
						<f:else>
							<li>
								<f:if condition="{id}">
									{id}: <!-- @FIXME: don't display these, make them functional instead!-->
								</f:if>
								<f:alias map="{title: 'tx_fileman_domain_model_{fi:format.lowerCase(value: entity)}.{fi:format.camelCase(type:\'camelCaseToLowerCaseUnderscored\',value: error.propertyName)}'}">
									<!-- error.{entity}.{error.propertyName}.{errorDetail.code} -->
									<span class="validation-fieldname"><f:translate key="{title}">{title}</f:translate>:</span>
									<f:translate key="error.{entity}.{error.propertyName}.{errorDetail.code}">{errorDetail.message}</f:translate>
								</f:alias>
							</li>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</f:else> 
	</f:if>
</f:for>