<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.enableSearch}">
	<f:form enctype="multipart/form-data" method="post" class="search-form"
		controller="File" action="search"
	>
		<fieldset>
			<f:form.textfield class="searchbox" name="search" value="{search}" placeholder="{f:translate(key:'tx_fileman_filelist.search_placeholder')}" />
			<f:form.submit class="searchsubmit" value="{f:translate(key:'button.search.submit')}" />
		</fieldset>
	</f:form>
</f:if>

</html>