{namespace fi=Tx_Fileman_ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
<h3><f:translate key="tx_fileman_filelist.new_link_header" arguments="{s: category.title}" /></h3>

<f:link.action action="list" controller="File" arguments="{category : category}" class="button-back"><f:translate key="tx_fileman_filelist.go_back" /></f:link.action>

<div class="legenda"><span class="required">*</span> = <f:translate key="tx_fileman_filelist.required" /></div>

<f:render partial="FormErrors" arguments="{for: 'link'}" />

<fi:form enctype="multipart/form-data" method="post" action="create"  name="link" object="{link}" arguments="{category : category}" syncToken="TRUE" absolute="TRUE">
	<fieldset>
		<f:render partial="Link/FormFields" />
			
		<f:form.submit class="submit" value="{f:translate(key:'tx_fileman_filelist.new_link_submit')}" />
	</fieldset>
</fi:form>
</f:section>