<fieldset>
	<!-- @TODO: remove the ID's -->
	<label for="fileman-title">
		<f:translate key="tx_fileman_domain_model_category.title" /> <span class="required">*</span>
	</label><br />
	<f:form.textfield id="fileman-title" property="title" required="TRUE" class="textinput" />
	<br /> <!-- @TODO: remove the extra br's and do it in css -->
	<br />
	
	<label for="fileman-description">
		<f:translate key="tx_fileman_domain_model_category.description" />
	</label><br />
	<f:form.textarea id="fileman-description" property="description" cols="40" rows="15" />
	<br />
	<br />
	
	<f:translate key="tx_fileman_domain_model_category.fe_user" />
	<br />
	<!-- @TODO optionLabelField configurable? -->
	<f:form.select
		property="feUser" options="{users}"
		optionValueField="uid" optionLabelField="name"
		size="1" value="{feUser}"
	/>
	<br />
	<br />
	
</fieldset>