<label for="fileman-linkUri">
	<f:translate key="tx_fileman_domain_model_link.link_uri" /> <span class="required"><f:translate key="tx_fileman_filelist.required" /></span>
</label><br />
<f:form.textfield id="fileman-linkUri" property="linkUri" required="TRUE" class="textinput" />
<br />
<br />

<f:translate key="tx_fileman_domain_model_link.category" />
<br />
<input type="text" readonly="readonly" disabled="disabled" value="{category.title}" class="textinput" />
<br />
<br />

<label for="fileman-linkName">
	<f:translate key="tx_fileman_domain_model_link.link_name" />
</label><br />
<f:form.textfield id="fileman-linkName" property="linkName" class="textinput" />
<br />
<br />

<label for="fileman-description">
	<f:translate key="tx_fileman_domain_model_link.description" />
</label><br />
<f:form.textarea id="fileman-description" property="description" cols="40" rows="15" />
<br />
<br />