<label for="linkUri">
	<f:translate key="tx_fileman_domain_model_link.link_uri" /> <span class="required"><f:translate key="tx_fileman_filelist.required" /></span>
</label><br />
<f:form.textfield id="linkUri" property="linkUri" required="TRUE" />
<br />
<br />

<label for="linkName">
	<f:translate key="tx_fileman_domain_model_link.link_name" />
</label><br />
<f:form.textfield id="linkName" property="linkName" />
<br />
<br />

<label for="description">
	<f:translate key="tx_fileman_domain_model_link.description" />
</label><br />
<f:form.textarea id="description" property="description" cols="40" rows="15" />
<br />
<br />