<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="fieldwrap">
	<label>
		<f:translate key="property.link.linkUri" /> <span class="required">*</span>
		<br />
		<f:form.textfield property="linkUri" required="TRUE" class="textinput" />
	</label>
</div>

<div class="fieldwrap">
	<label>
		<f:translate key="property.link.linkName" />
		<br />
		<f:form.textfield property="linkName" class="textinput" />
	</label>
</div>

<div class="fieldwrap">
	<label>
		<f:translate key="property.link.description" />
		<br />
		<f:form.textarea property="description" cols="40" rows="15" />
	</label>
</div>

</html>