<f:layout name="Default" />

<f:section name="main">

<f:flashMessages />

<f:if condition="{isLoggedIn}">
	<f:link.action action="new" controller="Category" class="button-new"><f:translate key="tx_fileman_filelist.new_category_header" /></f:link.action>
</f:if>

<table>
	<tr>
		<th><f:translate key="tx_fileman_domain_model_category.title" /></th>
		<th><f:translate key="tx_fileman_domain_model_category.description" /></th>
	</tr>

	<f:for each="{categories}" as="category">
		
		<tr>
			<td>
				<f:link.action action="list" controller="File" arguments="{category : category}">{category.title} ({category.count})</f:link.action>
				<f:if condition="{isSuperUser}" >
					<f:link.action action="edit" arguments="{category : category}" class="button-edit"><f:translate key="tx_fileman_filelist.button_edit" /></f:link.action>
					<f:if condition="{category.count} == 0">
						<f:link.action action="delete" arguments="{category : category}" class="button-delete"><f:translate key="tx_fileman_filelist.button_delete" /></f:link.action>
					</f:if>
				</f:if>
			</td>
			<td>{category.description}</td>
		</tr>
		
	</f:for>
</table>

</f:section>