{namespace fi=Tx_Fileman_ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
<h3><f:translate key="tx_fileman_filelist.new_category_header" /></h3>
<div class="buttons">
	<!-- @TODO back to parent cat from here? -->
	<f:link.page class="button-back"><f:translate key="tx_fileman_filelist.go_back" /></f:link.page>
</div>

<div class="legenda"><span class="required">*</span> = <f:translate key="tx_fileman_filelist.required" /></div>

<f:render partial="FormErrors" arguments="{for: 'category'}" />

<fi:form enctype="multipart/form-data" method="post" action="create" name="category" object="{category}" arguments="{parentCategory : parentCategory}" syncToken="TRUE" absolute="TRUE">
	<f:render partial="Category/FormFields" arguments="{category:category, users:users, feUser:feUser}" />
	<f:form.submit value="{f:translate(key:'tx_fileman_filelist.new_category_submit')}" class="submit" />
</fi:form>
</f:section>