{namespace fi=Tx_Fileman_ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
<h3><f:translate key="tx_fileman_filelist.edit_file_header" arguments="{s: category.title}" /></h3>
<div class="buttons">
	<f:link.action action="list" controller="File" arguments="{category : category}" class="button-back"><f:translate key="tx_fileman_filelist.go_back" /></f:link.action>
</div>

<f:render partial="FormErrors" arguments="{for: 'file'}" />

<fi:form enctype="multipart/form-data" method="post" action="update"  name="file" object="{file}" arguments="{category : category}" syncToken="TRUE" absolute="TRUE">
	<fieldset>
		<f:translate key="tx_fileman_domain_model_file.file_uri" />
		<br />
		<input type="text" readonly="readonly" disabled="disabled" value="{file.fileUri}" class="textinput" />
		<br />
		<br />
		
		<f:render partial="File/FormFields" />
		
		<f:translate key="tx_fileman_domain_model_file.category" />
		<br />
		<f:form.select
			options="{f:if(condition: isSuperUser, then: '{fi:order.hierarchy(collection: categories, recursionProperty: \'subCategory\', labelProperty: \'title\')}', else: categories)}"
			optionValueField="uid" optionLabelField="title" property="category" 
			multiple="multiple" size="20" title="{f:translate(key:'tx_fileman_filelist.multi_select_title')}"
		/>
			
		<f:form.submit value="{f:translate(key:'tx_fileman_filelist.edit_file_submit')}" class="submit" />
	</fieldset>
</fi:form>
</f:section>