<f:layout name="Default" />

<f:section name="main">
<h3><f:translate key="tx_fileman_filelist.edit_file_header" /></h3>

<f:link.action action="list" controller="File" arguments="{category : category}" class="button-back"><f:translate key="tx_fileman_filelist.go_back" /></f:link.action>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{for: 'file'}" />

<f:form enctype="multipart/form-data" method="post" action="update"  name="file" object="{file}" arguments="{category : category}">
	<fieldset>
		<f:translate key="tx_fileman_domain_model_file.file_uri" />
		<br />
		<input type="text" readonly="readonly" disabled="disabled" value="{file.fileUri}" class="textinput" />
		<br />
		<br />
		
		<f:render partial="File/FormFields" arguments="{category:category}" />
			
		<f:form.submit value="{f:translate(key:'tx_fileman_filelist.edit_file_submit')}" class="submit" />
	</fieldset>
</f:form>
</f:section>