{namespace fi=Tx_Fileman_ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
<h3>{category.title}</h3>

<f:link.page class="button-back"><f:translate key="tx_fileman_filelist.go_back" /></f:link.page>
<f:if condition="{isLoggedIn}">
	<f:link.action action="new" controller="File" arguments="{category : category}" class="button-new"><f:translate key="tx_fileman_filelist.new_file" /></f:link.action>
	<f:link.action action="new" controller="Link" arguments="{category : category}" class="button-new"><f:translate key="tx_fileman_filelist.new_link" /></f:link.action>
</f:if>

<table class="tx_fileman" summary="{f:translate(key:'tx_fileman_filelist.file_summary')}">
	<caption><f:translate key="tx_fileman_filelist.file_caption" /></caption>

	<f:if condition="{files}">
		<tr>
			<th scope="col"><f:translate key="tx_fileman_domain_model_file.upload_data" /></th>
			<th scope="col"><f:translate key="tx_fileman_domain_model_file.description" /></th>
		</tr>
	
		<f:for each="{files}" as="file">
			
			<tr>
				<td>
					<fi:link.download fileUri="{file.fileUri}" noDocrootAction="download" noDocrootArguments="{file : file}">
						{file.alternateTitle}
	 				</fi:link.download>
	 				<f:if condition="{isSuperUser}">
						<f:link.action action="edit" arguments="{file : file, category : category}" class="button-edit"><f:translate key="tx_fileman_filelist.button_edit" /></f:link.action>
						<f:link.action action="delete" arguments="{file : file, category : category}" class="button-delete"><f:translate key="tx_fileman_filelist.button_delete" /></f:link.action>
					</f:if>
	 				
	 				<f:if condition="{file.links}">
						<f:then>
							<a href="#" class="rel-switch">&nbsp;</a>
							<div class="rel-links">
								<span class="rel-links-header"><f:translate key="tx_fileman_domain_model_file.links" /></span>
								<ol>
									<f:for each="{file.linksFormatted}" as="link">
										<li><f:link.external uri="{link}">{link}</f:link.external></li>
									</f:for>
								</ol>
							</div>
						</f:then>
		 			</f:if>
	 			</td>
				<td>{file.description}</td>
			</tr>
		 	
		</f:for>
	</f:if>
	
	<f:if condition="{links}">
		<tr>
			<th scope="col"><f:translate key="tx_fileman_domain_model_link.link_uri" /></th>
			<th scope="col"><f:translate key="tx_fileman_domain_model_link.description" /></th>
		</tr>
	
		<f:for each="{links}" as="link">
			
			<tr>
				<td>
					<f:link.external uri="{link.linkUri}" >
						{link.linkName}
	 				</f:link.external>
	 				<f:if condition="{isSuperUser}">
						<f:link.action action="edit" controller="Link" arguments="{link : link, category : category}" class="button-edit"><f:translate key="tx_fileman_filelist.button_edit" /></f:link.action>
						<f:link.action action="delete" controller="Link" arguments="{link : link, category : category}" class="button-delete"><f:translate key="tx_fileman_filelist.button_delete" /></f:link.action>
					</f:if>
	 			</td>
	 			<td>{link.description}</td>
			</tr>
		 	
		</f:for>
	</f:if>
</table>

</f:section>