<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">
<h3><f:format.htmlentities>{category.title}</f:format.htmlentities></h3>
<f:render partial="Search" arguments="{settings: settings}" />
<div class="buttons">
<f:if condition="{category.parentCategory}">
<f:then>
	<f:for each="{category.parentCategory}" as="parent">
		<f:link.action title="{f:translate(key:'link.title.back')}" class="button-back" action="list" controller="File" arguments="{category: parent}"><f:translate key="tx_fileman_filelist.go_back_to" arguments="{0: parent.title}" /></f:link.action>
	</f:for>
</f:then>
<f:else>
	<f:link.page title="{f:translate(key:'link.title.back')}" class="button-back"><f:translate key="tx_fileman_filelist.go_back" /></f:link.page>
</f:else>
</f:if>

<f:if condition="{isLoggedIn}">
	<f:link.action title="{f:translate(key:'link.title.category_new')}" action="new" controller="Category" arguments="{parentCategory: category}" class="button-new"><f:translate key="tx_fileman_filelist.new_category" /></f:link.action>
	<f:link.action title="{f:translate(key:'link.title.file_new')}" action="new" controller="File" arguments="{category: category}" class="button-new"><f:translate key="tx_fileman_filelist.new_file" /></f:link.action>
	<f:link.action title="{f:translate(key:'link.title.link_new')}" action="new" controller="Link" arguments="{category: category}" class="button-new"><f:translate key="tx_fileman_filelist.new_link" /></f:link.action>
</f:if>

</div>

<div class="sorting">
	<f:render partial="Sorting" arguments="{category: category}" />
</div>

<table class="tx_fileman" summary="{f:translate(key:'tx_fileman_filelist.file_summary')}">
	<caption><f:translate key="tx_fileman_filelist.file_caption" /></caption>
	
	<f:if condition="{subCategories}">
		<f:render partial="Category/List" arguments="{categories: subCategories, parentCategory: category, isSuperUser: isSuperUser}" />
	</f:if>

	<f:if condition="{files}">
		<f:render partial="File/List" arguments="{files: files, category: category, isSuperUser: isSuperUser}" />
	</f:if>
	
	<f:if condition="{links}">
		<f:render partial="Link/List" arguments="{links: links, category: category, isSuperUser: isSuperUser}" />
	</f:if>
</table>

</f:section>

</html>