<f:layout name="Default" />

<f:section name="main">
<h3><f:translate key="tx_fileman_filelist.new_file_header" /></h3>

<f:link.action action="list" controller="File" arguments="{category : category}" class="button_back"><f:translate key="tx_fileman_filelist.go_back" /></f:link.action>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{for: 'file'}" />

<f:form enctype="multipart/form-data" method="post" action="create"  name="file" object="{file}" arguments="{category : category}">
	<fieldset>
		<label for="fileman-fileUri">
			<f:translate key="tx_fileman_domain_model_file.file_uri" /> <span class="required"><f:translate key="tx_fileman_filelist.required" /></span>
		</label><br />
		<f:form.upload id="fileman-fileUri" property="fileUri" class="fileupload" />
		<br />
		<br />
		
		<f:render partial="File/FormFields" arguments="{file:file,category:category}" />
			
		<f:form.submit value="{f:translate(key:'tx_fileman_filelist.new_file_submit')}" class="submit" />
	</fieldset>
</f:form>
</f:section>