<f:layout name="Default" />

<f:section name="main">
<h3><f:translate key="tx_fileman_filelist.new_file_header" arguments="{s: category.title}" /></h3>

<f:link.action action="list" controller="File" arguments="{category : category}" class="button-back"><f:translate key="tx_fileman_filelist.go_back" /></f:link.action>

<f:render partial="FormErrors" arguments="{for: 'files'}" />

<f:form enctype="multipart/form-data" method="post" action="create"  name="files" object="{files}" arguments="{category : category}" class="init-progressbar multi-file">
	<fieldset>
		<f:if condition="{files.file}">
			<f:then>
				<f:for each="{files.file}" as="file" iteration="fileIterator">
					<f:render partial="File/FileEntry" arguments="{index : fileIterator.cycle, settings : settings, file : file}"/>
				</f:for>
			</f:then>
			<f:else>
				<f:render partial="File/FileEntry" arguments="{index : 1, settings : settings}"/>
			</f:else>
		</f:if>
		<f:form.submit value="{f:translate(key:'tx_fileman_filelist.new_file_submit')}" class="submit" />
	</fieldset>
</f:form>

</f:section>