<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:fi="http://typo3.org/ns/Innologi/Fileman/ViewHelpers">
	
<f:layout name="Default" />

<f:section name="main">
<h3><f:translate key="tx_fileman_filelist.new_file_header" arguments="{s: category.title}" /></h3>
<div class="buttons">
	<f:link.action action="list" controller="File" arguments="{category: category}" class="button-back"><f:translate key="tx_fileman_filelist.go_back" /></f:link.action>
</div>

<p class="explanation">
	<f:translate
		key="tx_fileman_filelist.new_file_explanation"
		arguments="{0: '{f:cObject(typoscriptObjectPath:\'lib.tx_fileman.maxFileUploads\')}', 1: '{fi:format.bytesToSize(bytes:settings.maxFileSize)}', 2: '{fi:format.bytesToSize(bytes:settings.maxTotalFileSize)}'}"
	/>
</p>

<f:form enctype="multipart/form-data" method="post" action="create"  name="files" object="{files}" arguments="{category: category}"
	class="init-progressbar multi-file{f:if(condition:files.file,else:' multi-file-add drop-zone')}" absolute="TRUE"
>
	<div class="legenda"><span class="required">*</span> = <f:translate key="tx_fileman_filelist.required" /></div>
	<fieldset>
		<f:if condition="{files.file}">
			<f:then>
				<f:for each="{files.file}" as="file">
					<f:render partial="File/FileEntry" arguments="{index : file.index, settings : settings, file : file}"/>
				</f:for>
			</f:then>
			<f:else>
				<f:render partial="File/FileEntry" arguments="{index : 'i1', settings : settings}"/>
			</f:else>
		</f:if>
		<f:form.hidden name="stoken" value="{fi:csrf(uid:category.uid)}" />
		<f:form.submit value="{f:translate(key:'tx_fileman_filelist.new_file_submit')}" class="submit" />
	</fieldset>
</f:form>

</f:section>

</html>