<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">
<h3><f:translate key="tx_fileman_filelist.search_title" /></h3>
<f:render partial="Search" arguments="{settings: settings, search: search}" />
<div class="buttons">
	<f:link.page class="button-back"><f:translate key="tx_fileman_filelist.go_back" /></f:link.page>
</div>

<f:if condition="{noResults}">
<f:then>
	<p><f:translate key="tx_fileman_filelist.no_search_results" /></p>
</f:then>
<f:else>

<table class="tx_fileman" summary="{f:translate(key:'tx_fileman_filelist.file_summary')}">
	<caption><f:translate key="tx_fileman_filelist.file_caption" /></caption>
	<f:if condition="{categories}">
		<f:render partial="Category/List" arguments="{categories: categories, isSuperUser: isSuperUser}" />
	</f:if>
	
	<f:if condition="{files}">
		<f:render partial="File/List" arguments="{files: files, isSuperUser: isSuperUser}" />
	</f:if>
	
	<f:if condition="{links}">
		<f:render partial="Link/List" arguments="{links: links, isSuperUser: isSuperUser}" />
	</f:if>
</table>

</f:else>
</f:if>

</f:section>

</html>