{namespace fi=Tx_Fileman_ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
<f:if condition="{settings.searchReturnPid}">
	<f:link.page pageUid="{settings.searchReturnPid}" class="button-back"><f:translate key="tx_fileman_filelist.go_back" /></f:link.page>
</f:if>

<table class="tx_fileman" summary="{f:translate(key:'tx_fileman_filelist.file_summary')}">
	<caption><f:translate key="tx_fileman_filelist.file_caption" /></caption>
	
	<f:if condition="{categories}">
		<f:render partial="Category/List" arguments="{categories: categories, isSuperUser: isSuperUser, pageUid: settings.searchReturnPid}" />
	</f:if>

	<f:if condition="{files}">
		<f:render partial="File/List" arguments="{files: files, isSuperUser: isSuperUser, pageUid: settings.searchReturnPid}" />
	</f:if>
	
	<f:if condition="{links}">
		<f:render partial="Link/List" arguments="{links: links, isSuperUser: isSuperUser, pageUid: settings.searchReturnPid}" />
	</f:if>
</table>

</f:section>