<f:layout name="Default" />

<f:section name="main">
<!-- @TODO lang -->
<h3>Zoekresultaten</h3>
	
<f:link.page class="button-back"><f:translate key="tx_fileman_filelist.go_back" /></f:link.page>

<table class="tx_fileman" summary="{f:translate(key:'tx_fileman_filelist.file_summary')}">
	<caption><f:translate key="tx_fileman_filelist.file_caption" /></caption>
	
	<f:if condition="{categories}">
		<f:render partial="Category/List" arguments="{categories: categories, isSuperUser: isSuperUser}" />
	</f:if>

	<f:if condition="{files}">
		<f:render partial="File/List" arguments="{files: files, isSuperUser: isSuperUser}" />
	</f:if>
	
	<f:if condition="{links}">
		<f:render partial="Link/List" arguments="{links: links, isSuperUser: isSuperUser}" />
	</f:if>
</table>


</f:section>